@using System.Web.UI.WebControls
@using EyeCT4RailsASP.Models
@using EyeCT4RailsLib.Classes

@{
    ViewBag.Title = "Geschiedenis";

    List<Job> history = ViewBag.History as List<Job>;
}

<h2>Geschiedenis</h2>

<div class="row">
    <div class="col-md-12">
        <p><b>Tramnummer:</b> @ViewBag.TramId</p>
        <p><b>Tram type:</b> @ViewBag.TramType</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tramnummer</th>
                    <th>Soort</th>
                    <th>Type Beurt</th>
                    <th>Reparatie Datum</th>
                </tr>
            </thead>

            <tbody>
                @if (history != null && history.Count > 0)
                {
                    foreach (Job job in history)
                    {
                        <tr class="clickable-row" data-href="?tramId=@job.Tram.Id">
                            <td>@job.Id</td>
                            <td>@job.Tram.Id</td>
                            <td>@TranslationUtilities.TranslateJobSize(job.JobSize)</td>
                            <td>@TranslationUtilities.TranslateJobType(job.JobType)</td>
                            <td>@job.Date.ToShortDateString()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>