@using System.Web.UI.WebControls
@using EyeCT4RailsLib.Classes

@{
    ViewBag.Title = "Geschiedenis";

    List<Job> history = ViewBag.History as List<Job>;
}

<h2>Geschiedenis</h2>

<div class="row">
    <div class="col-md-12">
        <p><b>Tramnummer:</b> @ViewBag.TramId</p>
        <p><b>Tram type:</b> @ViewBag.TramType</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tramnummer</th>
                    <th>Soort</th>
                    <th>Type Beurt</th>
                    <th>Reparatie Datum</th>
                </tr>
            </thead>

            <tbody>
                @if (ViewBag.History != null && (ViewBag.History as List<Job>).Count > 0)
                {
                    foreach (Job job in ViewBag.History)
                    {
                        <tr>
                            <td>@job.Id</td>
                            <td>@job.Tram.Id</td>
                            <td>@job.JobSize</td>
                            <td>@job.Date</td>
                            <td>@job.Date.ToString()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>