@using EyeCT4RailsASP.Models
@using EyeCT4RailsLib.Classes
@using EyeCT4RailsLib.Enums


@{
    User user = null;

    if (Session["User"] != null)
    {
        user = (User) Session["User"];
    }

    string actionName = UserUtilities.GetActionName(user);
    string controllerName = UserUtilities.GetControllerName(user);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tranvia</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tranvia", actionName, controllerName, new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (UserUtilities.CheckRight(Right.ManageDepot, user))
                    {
                        <li>@Html.ActionLink("Remise", "Index", "Depot")</li>
                    }
                    @if (UserUtilities.CheckRight(Right.ManageRide, user))
                    {
                        <li>@Html.ActionLink("Conducteur", "Index", "Ride")</li>
                    }
                    @if (UserUtilities.CheckRight(Right.ManageRepair, user))
                    {
                        <li>@Html.ActionLink("Reparatie", "Overview", "Maintenance")</li>
                    }
                    @if (UserUtilities.CheckRight(Right.ManageCleanup, user))
                    {
                        <li>@Html.ActionLink("Schoonmaak", "Overview", "Cleanup")</li>
                    }
                    @if (UserUtilities.CheckRight(Right.ManageUser, user))
                    {
                        <li>@Html.ActionLink("Gebruikers", "Index", "User")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (user != null)
                    {
                        <li>@Html.ActionLink("Log Uit", "LogOut", "Login")</li>
                    }
                </ul>

            </div>
        </div>
    </div>
<div class="container body-content">
    
    @if (ViewBag.Exception != null)
    {
        <div class="alert alert-danger">
            <strong>@ViewBag.Exception</strong>
        </div>
    }

    @if (ViewBag.Success != null)
    {
        <div class="alert alert-success">
            <strong>@ViewBag.Success</strong>
        </div>
    }

    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Tranvia</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
